html
{
	background: #fff;
	/*The font-family on Techmeme is Optima, "Microsoft Sans Serif", sans-serif but Optima is a commercial font (costs about $50 to license - https://www.myfonts.com/fonts/linotype/optima/#index) so found a similar font that is open source */
	font-family: 'LatoRegular', -apple-system, "Segoe UI", system-ui, Roboto, "Helvetica Neue", sans-serif;
	/* See https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for font-display */ 
	font-display: swap;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-align: center;
}

a
{
	color: #004860;
	position: relative;
	z-index: 10;
}

body
{
	font-size: 0.89em;
	line-height: 120%;
}

h1
{
	
}

p
{
	
}